.note_item_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border: 1px solid #282c34;
    width: 335px;
}

.actions_container {
    display: flex;
    gap: 35px;
    padding: 0 30px;
}

.note_btn {
    flex-grow: 1;
}